
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark-blue: rgb(6, 46, 74);
$light-blue: rgb(115, 180, 226);
$green: rgb(82, 192, 168);

$font-color: rgba(39, 40, 38, 1.0);
$primary-color: rgba(97, 155, 197, 1.0);
$secondary-color: rgba(52, 63, 79, 1.0);
