button.btn.btn-primary {
  background-color: $light-blue;
  border-color: $light-blue;
  color: $white;
  border-radius: 20px;
}

.btn-dark {
  background-color: $dark-blue;
  border-color: $dark-blue;
  color: $white;
  border-radius: 25px;
  padding: 3px 30px;
}

.btn-green {
    background-color: $green;
    border-color: $green;
    color: $white;
    border-radius: 25px;
    padding: 3px 30px;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}