.form-contact {

  .form-group {
    margin-bottom: 30px;
  }

  input, textarea {
    background-color: rgba(235, 235, 235, 1.0);
    border-color: rgba(235, 235, 235, 1.0);
    color: rgba(47, 48, 46, 1.0);
  }

  textarea {
    resize: none;
  }
}