h2.page__title {
  font-weight: 900;
  padding-bottom: 40px;
}

.heading__white {
  padding-bottom: 25px;
  margin-bottom: 5px;

  &:after {
    display: block;
    clear: both;
    content: "";
    position: relative;
    height: 5px;
    width: 30px;
    border-bottom: 4px solid $white;
    border-radius: 0.05rem;
    margin: 20px 0 0;
  }
}