body {
  color: $font-color;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  min-height: 100vh;
  overflow-x: hidden;
}

.header-bg {
  padding-top: 10px;
  width: 100%;
  height: calc(100vh - 70px);
}

a:hover{
  text-decoration: none;
}

.off-white {
  background-color: rgba(250, 248, 247, 1.0);
}

.contact--floated {
  float: right;
  color: $white;
  background-color: $light-blue;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 32px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;

  i {
    padding-left: 10px;
    padding-right: 10px;
  }
}


