body {
  color: $font-color;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  min-height: 100vh;
  overflow-x: hidden;
}

a:hover{
  text-decoration: none;
}

.off-white {
  background-color: rgba(250, 248, 247, 1.0);

  @media(max-width: 33.9em) {
    padding: 20px !important;
  }
}

.contact--floated {
  float: right;
  right: 0;
  position: fixed;
  background-color: $light-blue;
  color: $white;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 32px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  border: 4px solid $light-blue;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;
  }

  i {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contact--floated--expanded {
  float: right;
  right: 0;
  position: fixed;
  background-color: $white;
  color: $light-blue;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 32px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 4px solid $light-blue;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

  a {
    text-decoration: none;
    color: $light-blue;
  }

  i {
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

@media(max-width: 33.9em) {
  .block__details img {
    margin-bottom: 0 !important;
  }
}


