body {
  color: $font-color;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  min-height: 100vh;
  overflow-x: hidden;
}

.video-container {
  width: 100%;
  text-align: center;
  padding-top: 20px;

  video {
    max-width: 1280px;
    height: auto;
  }
}

a:hover{
  text-decoration: none;
}

.off-white {
  background-color: rgba(250, 248, 247, 1.0);
}

.contact--floated {
  float: right;
  right: 0;
  position: fixed;
  background-color: $light-blue;
  color: $white;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 32px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;

  &:hover {
    cursor: pointer;
  }

  i {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contact--floated--expanded {
  float: right;
  right: 0;
  position: fixed;
  background-color: $white;
  color: $light-blue;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 32px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 4px solid $light-blue;
  padding-left: 10px;
  padding-right: 10px;
  display: none;

  a {
    text-decoration: none;
    color: $light-blue;
  }

  i {
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}


