nav {
  //height: 80px;
  border-bottom: 1px solid rgb(229, 229, 229);
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;

  .active span::after {
    left: 50%;
    right: 50%;
    content: ' ';
    display: block;
    position: relative;
    width: 100%;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    transform: translateX(-50%);
  }

  .navbar-collapse.show {
    z-index: 999 !important;
  }

  @media(max-width: 33.9em) {
    .navbar-collapse {
      .active span::after {
        width: 30% !important;
      }

      &:not(.active) a:hover::after {
        width: 30% !important;
      }
    }
  }
}

.heading--light-blue {
  .active span::after {
    border: 2px solid $light-blue;
  }

  .nav-item:not(.active) a:hover::after {
    border: 2px solid $light-blue;
  }
}

.heading--dark-blue {
  .active span::after {
    border: 2px solid $dark-blue;
  }

  .nav-item:not(.active) a:hover::after {
    border: 2px solid $dark-blue;
  }
}

.heading--green {
  .active span::after {
    border: 2px solid $green;
  }

  .nav-item:not(.active) a:hover::after {
    border: 2px solid $green;
  }
}

.nav-item {
  padding-top: 4px;

  .nav-link {
    color: $font-color;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    position: relative;
  }

  &:not(.active) a:hover::after {
    left: 50%;
    right: 50%;
    content: ' ';
    display: block;
    position: relative;
    width: 100%;
    //border: 2px solid $primary-color;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    transform: translateX(-50%);
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $font-color;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-toggler-button i {
  color: $light-blue;
  font-size: 2rem;
}

.navbar-collapse {
  text-align: center;
  margin-left: -30px !important;
  margin-right: -30px !important;

  .navbar-nav {
    background-color: $white;
    z-index: 999;
  }
}