.section__info {
  background-color: $primary-color;
  color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section__3-column {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;

  img {
    height: 100px;
  }

  h4 {
    font-size: 1.50rem;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 5px;

    &:after {
      display: block;
      clear: both;
      content: "";
      position: relative;
      height: 5px;
      width: 30px;
      border-bottom: 4px solid $primary-color;
      border-radius: 0.05rem;
      margin: 20px auto 0;
    }
  }
}

.section__customers {
  background-color: $primary-color;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  img {
    height: 50px;
  }
}