section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.bg__light-blue {
  background-color: $light-blue;
  color: white;
}

.bg__dark-blue {
  background-color: $dark-blue;
  color: $white;
}

.section__info {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section__3-column {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;

  img {
    height: 100px;
  }

  .block__info {
    padding-left: 20px;
    padding-right: 20px;

    p {
      height: 100px;
    }
  }

  button {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.section__customers {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  img {
    height: 45px;
  }
}

.heading__curved {
  background-color: rgba(52, 63, 79, 1.0);
  color: $white;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.management__options {
  text-align: center;

  .row {
    padding-left: 30px;
    padding-right: 30px;
  }

  img {
    max-height: 80px;
  }
}

.compliance {
  .row:not(:last-of-type) {
    padding-bottom: 30px;
  }

  img {
    max-height: 70px;
  }
}

.section__about {
  .about--top {
    padding-top: 40px;
    color: $white;
    background-color: $green;
  }

  #curveDownColor {
    fill: $green;
  }

  img.contact-map {
    max-width: 350px;
  }
}

.contact--background {
  background: linear-gradient(to right, #fff 0%, #fff 70%, $dark-blue 10%, $dark-blue 100%);
}

.chat {
  padding-top: 130px;
  padding-left: 60px;
  border-top-left-radius: 80px;
  background-color: $dark-blue;
  color: $white;

  span {
    display: block;
    color: rgba(248, 249, 248, 1.0);
    line-height: 25px;
  }
}